<?xml version="1.0" encoding="UTF-8"?>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~
  ~    Copyright (c) 2017 - 2022.
  ~    Nanjing Smart Medical Investment Operation Service Co. Ltd.
  ~
  ~    All rights reserved.
  ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<configuration>
  <!-- Defines the console appender -->
  <appender class="ch.qos.logback.core.ConsoleAppender" name="STDOUT">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{0} - %msg%n</pattern>
    </encoder>
  </appender>
  <!-- Control the log level -->
  <logger level="INFO" name="ltd.qubit.commons.util.codec"/>
  <logger level="INFO" name="ltd.qubit.commons.test"/>
  <logger level="INFO" name="ltd.qubit.commons.test.dao"/>
  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
